<%- include('header.ejs') %>
 <div style="margin-left:210px;">
    <form class="" action="/import" method="post" enctype="multipart/form-data">
      <input type="file" name="data" value="" style="margin-left:40%; margin-bottom:3%;" class="form-control-file pad">
      <button class="btn btn-outline-primary" style="margin-left:41%; " type="submit" name="button">Upload</button>
    </form>
  </div>
  </body>
</html>
